Binaries
DerivedDataCache
Intermediate
Scripts/.idea/*
Saved/*
!Saved/SaveGames/
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.ipch
*.log
*.pyc
Saved/SaveGames/SignIn.sav
